/* Reset atributes*/

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
::-webkit-scrollbar {
    display: none;
}


/*RESET BUTTONS*/

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
}

/*VARIABLES */

:root {
--main-pink-color: #ff0984;
--main-bg-color: white;
--color-navs-bar: #f8f2f2;
--desparchado-status: rgb(3, 168, 66);
--green-text: rgb(59, 182, 59);
}

/*VARIABLES */

body {
width: auto;
}

#ohparch-app {
margin: auto;
width: 400px;
height: 100vh;
border: black 8px double;
border-radius: 13%;
overflow-x: hidden;
overflow-y: scroll;
position: relative;
}


header {
width: 100%;
display: flex;
justify-content: space-around;
background-color: var(--main-pink-color);
border-bottom: black 2px solid;
padding: 10px;
border-radius: 15% 15% 0% 0%;
position: sticky;
top: 0;
z-index: 999;
}

.box-logo {
width: 30%;
display: flex;
align-items: center;
}

.box-logo img {
width: 100%;
}

.box-profile {
width: 55%;
display: flex;
justify-content: center;
align-items: center;
}

.box-nickname {
width: 52%;
text-align: end;
font-size: 12px;
color: white;
margin-right: 5px;
text-align: center;
}

.box-nickname p > i {
color: var(--desparchado-status);
}

.box-profile-img {
width: 72px;
height: 72px;
border-radius: 50%;
background-color: yellow;
display: flex;
justify-content: center;
align-items: center;
}

.box-profile-img img {
width: 65px;
height: 65px;
border-radius: 50%;
}

/*END HEADER NAV*/

/*START OPTIONS TOP*/

#section-container-top-sections {
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: start;
margin: 10px;
position: sticky;
background-color: white;
z-index: 3;
margin-bottom: 15px;

}

.container-box-left-top-sections {
    width: 35%;
    display: flex;
    border-right: black 1px solid;
}

.box-hamburger-menu {
    display: flex;
    width: auto;
    position: relative;

}

#checkbox-hamburger-menu{
    position: absolute;
    z-index: 99;
    width: 50%;
    height: 100%;
    background-color: transparent;
    border: 0;
}

.box-hamburger-menu i:hover{
    cursor: pointer;

}

/* .box-hamburger-menu input:hover ~ .box-hamburger-menu input i{
    background-color: red;
    color: black;
    z-index: 99;

}

.box-hamburger-menu i:hover + #checkbox-hamburger-menu {

} */

.box-hamburger-menu i {
    font-size: 35px;
    font-weight: 800;
    z-index: 2;
    width: 100%;
    position: relative;
    color: var(--main-pink-color);
    background-color: white;
}

/* .box-hamburger-menu i:hover {
    /* cursor: pointer;
} */

.text-hamburger-menu {
margin-left: 5px;
font-weight: 200;
font-size: 12px;
}

.container-box-right-top-sections {
width: 60%;
position: relative;
}

.box-searcher {
    width: 95%;
    border: 1px solid #d7d7d7;
    height: 26px;
    border-radius: 3px;
    width: 95%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 2px;
    position: relative;
    z-index: 99;
}

#input-buscar {
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
    background-color: white;
    z-index: 999;
    text-align: center;
}
   
.box-searcher:hover {
    border: aqua 1.5px solid;
}
    


.box-searcher > i {
position: absolute;
left: 5px;
}

/*START CHECKBOX BY*/

#input-buscar:focus-within + .box-search-for,.box-search-for:hover{
    top: 25px;
}


.box-search-for{
    width: 96%;
    height: 25px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    top: 0px;
    z-index: 1;
    transition-duration: 1s;
   transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

}


.box-search-for label{
    font-size: 12px;
    margin-right: 5px;
    color:blue;
}

.box-search-for input{
    margin-right: 10px;

}


/*END OPTIONS TOP*/



/*START FILTER BY*/

#box-container-search-for{
    width: 40%;
    height: 100%;
    position: absolute;
    z-index: 998;
    background-color: white;
    position: relative;
}



.box-left-side{
    width: 100%;
    height: auto;
    padding: 20px;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    border-radius: 3px;
    position: absolute;
    left: -2px;
    background-color: white;
}

#filter-for{
width: 100%;
font-size: 10px;
text-align: right;
}

.box-for-date, .box-for-time, .box-for-daytime, .box-for-category{
width: 100%;
display: flex;
/* flex-direction: column; */
flex-wrap: wrap;
justify-content: space-between;
align-content: space-around;
margin-bottom: 10px;
}


.box-for-date h4, .box-for-time h4, .box-for-daytime h4, .box-for-category h4{
font-size: 14px;
width: 100%;
font-weight: 700;
}

.box-for-date i{
margin-top: 4px;
font-size: 30px;
color: var(--main-pink-color);
}

.box-for-date label, .box-for-time label, .box-for-daytime label, .box-for-category label{
width: 80%;
font-size: 13px;
margin-bottom: 5px;
}

.box-for-date input, .box-for-time input, .box-for-daytime input, .box-for-category input{
width: 10%;
height: 100%;
margin-top: 2px;
}

#show-more{
font-size: 12px;
color: blue;
}

#show-more:hover{
text-decoration: underline;
cursor: pointer;
border-radius: 5px;
background-color: rgba(0, 0, 255, 0.041);
}

/*END FILTER BY*/



/* MAIN CONTENT - EVENTS START */


#content-explorer{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: stretch;
    flex-wrap: wrap;
}


.container-boxes-event{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}



.box-container-carrousel-events {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-image: var(--color-navs-bar);
    overflow: scroll;

}

.box-carrousel-event {
    width: 180px;
    width: 40%;
    height: 200px;
    background-image: url(../imgs/peñol);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    border: green 1px solid;
    transition-duration: 0.5s;
   transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
   margin: 0px 10px 10px 10px;
}


.box-carrousel-event:hover{
    background-image: url(../imgs/peñol);
    background-size: 135%;
    z-index: 4;
}

.box-carrousel-event:hover >.bot-description-event p {
    font-size: 10px;
    width: 100%;
    color: white;
    font-weight: 600;
}


.box-carrousel-event::before {
    content: "";
    width: 180px;
    height: 200px;
    background-color: rgba(0, 255, 255, 0.103);
    position: absolute;
    
}
  

  
.box-description-event-carrousel {
    margin: 2px 2px 2px 2px;
    width: 100%;
    color: white;
    height: 55%;
    display: flex;
    align-items: end;
    position: relative;
    z-index: 3;
}
  
.box-description-event-carrousel h4 {
    font-size: 15px;
    font-weight: 600;
}

.box-description-event-carrousel span {
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
}

.bot-description-event {
    width: 100%;
    margin-top: 2px;
    padding: 5px;
    position: relative;
    z-index: 3;
}

.bot-description-event p {
    font-size: 10px;
    width: 100%;
}

.info-event {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2px 2px 5px 3px;
    font-weight: 400;
}
  

.info-event p{
font-size: 10px;
color: green;
font-weight: 600;
}
  
.date-event {
    width: auto;
}
  

.hour-event {
    width: auto;
}

.box-include {
    width: 100%;
    text-align: right;
    position: relative;
    z-index: 2;
}


.box-include h5 {
    width: 100%;
    font-size: 11px;
    font-style: italic;
}

.box-include span {
    font-weight: 400;
}

.box-btn-parch {
    width: 100%;
    background-color: #ff0984;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 5px;
}




/* END MAIN CONTENT - EVENTS  */









/*BOT MENU - FIXED */

#menu-bot {
    width: 100%;
    height: 80px;
    background-color: var(--main-pink-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 0;
    z-index: 999;
    position: sticky;
    border-top: black 2px solid;
  }
  
  .boxes-menu-bot {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .boxes-menu-bot i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    border: black 1px solid;
  }
  
  .boxes-menu-bot span {
    font-size: 10px;
    font-weight: 300;
    color: white;
  }
  
  
  .box-publicar{
    position: relative;
    height: 100px;
    height: 100px;
    bottom: 10px;
    margin: 0px 10px 0px 10px ;
  }
  
  .box-publicar i{
    position: relative;
    height: 90px;
    font-size: 35px;
    width: 90px;
    display: flex;
  
    flex-direction: column;
    gap: 10px;
  }
  
  .box-publicar span{
  color: black;
  }