/* reset */
:root {
  --background-color : blue;
}


:root {
  --main-pink-color: #ff0984;
  --red-pink-color:#e50d5a;
  --green-pastel:#31e061;
  --green-flour:#0bf21c;
  --blue-pastel:#1c73e7;
  --blue-dark:#143da8;
  --yelow-fluo:#f7e336;
  --yellow-pastel:#ffde59;
  --main-bg-color: white;
  --color-navs-bar: #f8f2f2;
  --desparchado-status: rgb(3, 168, 66);
  --green-text: rgb(59, 182, 59);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
}

/* Remove excess padding and border in Firefox 4+ */
&::-moz-focus-inner {
  border: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(255,9,132);
  background: linear-gradient(90deg, rgba(255, 9, 132, 0.516) #ff0984, rgba(229,13,90,1) 50%, rgba(255,9,132,1) 100%);
  display: flex;
  justify-content: center;
  align-content: center;
}

#credential-container {
  width: 420px;
  height: 600px;
  margin: auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255,222,89);
  background: linear-gradient(90deg, rgba(255,222,89,1) 0%, rgba(255,226,51,1) 48%, rgba(247,227,54,1) 100%);
  border-radius: 35px;
  position: relative;
  overflow: hidden;
  gap: 20px;
}

#credential-container img{
  width: 300px;
  height: 200px;
  margin-top: 20px;
}

.box-container-login{
  width: 100%;
  height: auto;
}


/*---------- login seccion ----------*/
#label_login {
  color: white;
  width: 100%;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login_form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login_form input,
#login_form select {
  width: 80%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid white;
}

#login_form button {
  width: 40%;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0px 10px 0px;
  background-color: rgb(40, 209, 110);
  border: 0px solid white;
  color: white;
}

#login_form button:hover {
  cursor: pointer;
  background-color: rgb(39, 173, 95);
}

/*---------- Sign up ----------*/
.signup_form-box {
  width: 100%;
  height: 100%;
  padding: 1px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24% 24% 0% 0%;
  background: white;
  position: absolute;
  z-index: 99;
  top: 85%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}

.signup_form-box label {
  color: rgb(15, 11, 94);
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  height: 20%;
  align-items: center;
}

#signup_form {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup_form input {
  width: 80%;
  padding: 10px;
  margin: 20px 0px 20px 0px;
  border-radius: 8px;
  border: 1px solid rgb(46, 46, 46);
}

#signup_form button {
  width: 40%;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(40, 209, 110);
  border: 0px solid white;
  color: white;
  margin-top: 10px;
}

#signup_form button:hover, #signup_form button:active {
  cursor: pointer;
  background-color: rgb(39, 173, 95);
  width: 60%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
  color: black;
  border: #0bf21c 2px solid;
}

.signup_form-box:hover {
  top: 10%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}




/* CHECKBOX */

.checkbox_agree{
  width: 80%;
  display: flex;
  align-items: center;
}

.checkbox_agree input{
  width: auto !important;
  /* display: flex; */
}

.checkbox_agree label {
  font-size: 1rem;
}

.checkbox_agree a {
  text-decoration: underline;
  margin-left: 2px;
}


.box-singup-google{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.box-singup-google img{
  width: 50px !important;
  height: 50px !important;
  position: relative; 
  background-color: white;
  border-radius: 50%;
  z-index: 888;
  bottom: 6px;
  right: -18px;
}

.box-singup-google a{
  width: 152px;
  padding: 10px;
  border-radius: 8px;
  background-color:var(--blue-pastel);
  border: 0px solid white;
  color: white;
  margin-top: 10px;
  position: relative;
  right: 24px;
  font-size: 15px;
}

.box-singup-google a:hover >   .box-singup-google img{
  right: 0px;
}

.box-singup-google img:hover, .box-singup-google a:active{
  right: 14px;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}



/* CLASES FOR JS */

.invalid {
  background-image: url(../img/invalid.svg);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  border: 1px solid red !important;
}

#invalid_login,
#invalid_name,
#invalid_email,
#invalid_password {
  display: none;
  width: 80%;
  margin-top: 0.25rem;
  font-size: 13px;
  color: #dc3545;
  font-style: italic;
}

.valid {
  display: block;
  border-color: #198754;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url(../img/valid.svg);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}