/* Reset atributes*/

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


/*RESET BUTTONS*/

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
}

/*VARIABLES */

:root {
  --main-pink-color: #ff0984;
  --main-bg-color: white;
  --color-navs-bar: #f8f2f2;
  --desparchado-status: rgb(3, 168, 66);
  --green-text: rgb(59, 182, 59);
}

/*VARIABLES */

body {
width: auto;
}

#ohparch-app {
  margin: auto;
  width: 375px;
  height: 100vh;
  border: black 8px double;
  border-radius: 13%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color:var(--main-pink-color) ;
  border-bottom: black 2px solid;
  padding: 10px;
  border-radius: 15% 15% 0% 0%;
  position: sticky;
  top: 0;
  z-index: 99;
}

.box-logo {
  width: 30%;
  display: flex;
  align-items: center;
}

.box-logo img {
  width: 100%;
}

.box-profile {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-nickname {
  width: 52%;
  text-align: end;
  font-size: 12px;
  color: white;
  margin-right: 5px;
  text-align: center;
}

.box-nickname p > i {
  color: var(--desparchado-status);
}

.box-profile-img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-profile-img img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

/*END HEADER NAV*/

/*START OPTIONS TOP*/

#section-container-top-sections {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.container-box-left-top-sections {
  width: 35%;
  display: flex;
}

.box-hamburger-menu {
  display: flex;
  width: auto;
}

.box-hamburger-menu i {
  font-size: 35px;
  font-weight: 800;
  width: 100%;
  color: var(--main-pink-color);
}

.text-hamburger-menu {
  margin-left: 5px;
  font-weight: 200;
  font-size: 12px;
}

.container-box-right-top-sections {
  width: 50%;
}

.box-searcher {
  border: 1px solid #d7d7d7;
  height: 22px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 2px;
}

.input-buscar {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  background: transparent;
  text-align: center;
}

.box-searcher > i {
  position: absolute;
  left: 5px;
}

/*START MAIN-CONTENT SECTION"*/

#main-content {
  width: 100%;
  height: auto;
}

#section-container-content {
  padding: 8px;
  width: 100%;

}

.box-principal-title {
  margin-top: 10px;
  width: 60%;
}

.box-principal-title h2 {
  font-size: 20px;
  margin-left: 20px;
  font-weight: 700;
}

.container-box-post-happening {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

/* post box*/

.box-post-happening-example {
  width: 85%;
  padding-top: 5px;
  background-color: aqua;
  border-radius: 2% 2% 10% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-post-happening-example img {
  width: 98%;
}

.box-container-post-info {
  width: 98%;
  background-color: white;
  border-radius: 0% 0% 10% 10%;
  padding: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}

.top-post-info {
  margin-top: 10px;
  width: 95%;
  padding: 7px;
  display: flex;
  justify-content: space-around;
  border: black 0.2px solid;
}

.box-left-post-info {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-left-post-info img {
  width: 40px;
  height: 40px;
}

.box-owner-event-info {
  width: auto;
  font-size: 12px;
  margin-left: 7px;
  margin-right: 5px;
}

.box-owner-event-info h4 {
  font-size: 12px;
  font-weight: 500;
}

.box-owner-event-info p {
  font-size: 12px;
  font-weight: 400;
  color: var(--green-text);
}

.box-mid-post-info {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.box-mid-post-info > i {
  font-size: 35px;
  color: var(--main-pink-color);
  transform: rotate(63deg);
  position: absolute;
}

.box-right-post-info {
  width: auto;
}

.box-event-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 5px;
}

.box-event-info p {
  font-size: 12px;
}

.box-event-info i {
  transform: rotate(51deg);
  font-size: 8px;
  color: var(--green-text);
}

.box-event-info span {
  font-size: 10px;
  color: var(--green-text);
}


/* description event*/

.bot-post-description {
  width: 95%;
  padding: 10px;
  display: flex;
  margin-top: 5px;
  justify-content: space-around;
  border: black 0.2px solid;
}

.bot-post-description p {
  font-size: 13px;
  font-style: italic;
  font-weight: 360;
}

/* reactions event*/
.box-post-reactions {
  margin: 7px 0px 7px 0px;
  width: auto;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.box-post-reactions a{
  font-size: 12px;
}

/*END MAIN CONTENT*/




/*  START ALMOST-HAPPENING SECTION*/

#section-almost-happening{
width: 100%;
height: auto;
}

.box-title-almost-happening{
  width: 100%;
  height: 70px;
  background-color: var(--main-pink-color);
  margin: 10px 0px 10px 0px;
  padding-left: 35px;
  display: flex;
  align-items: center;
  
}

.box-title-almost-happening h3{
  color: white;
  width: 80%;
  height: auto;
  font-size: 22px;
  font-weight: 700;
  text-align: left;

}

/*CARROUSEL ALMOST HAPPENIGN*/

.box-container-carrousel-events{
  width: 4000px;
  height: auto;
  margin-bottom: 10px;
  padding: 4px;
  display: flex;
  gap: 20px;
  background-image: var(--color-navs-bar);
  overflow: scroll;
}

.box-carrousel-event{
  width: 220px;
  height: 210px;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  overflow: hidden;
  background-color: rgb(244, 255, 127);
}



.box-carrousel-event img{
  width: 100%;
  height: 100px;
}

.box-description-event-carrousel{
  margin: 2px 2px 2px 2px;
  width: 100%;
}

.box-description-event-carrousel h4{
  font-size: 18px;
  margin-left: 3px;
  font-weight: 600;
}

.box-description-event-carrousel span{
  font-size: 19px;
  font-weight: 700;
  font-style: italic;
}

.box-mid-description{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  font-size: 12px;
}

.disantance-box{
  width: 100%;
  display: flex;
  margin-left: 8px;

}

.distance-from-event{
width: 100%;
font-style: italic;
}

.disantance-box i{
  font-size: 15px;
  color: var(--main-pink-color);
  margin-right: 4px;
}

.info-event{
  width: 100%;
  display: flex;
justify-content: space-evenly;
  align-items: center;
  margin: 2px 2px 5px 3px;
  font-weight: 400;

}

.date-event{
  width: auto;
}

.hour-event{
  width: auto;
}

.bot-description-event{
  width: 100%;
  padding: 0px 5px 5px 5px ;
  border: black 1px solid;
  margin-bottom: 5px;

}

.bot-description-event p{
  font-size: 12px;
}

.box-include{
  width: 100%;
  float: left;
  padding: 5px;
}

.box-include h5{
  width: 100%;
  font-style: italic;
}

.box-include span{
  font-weight: 400;
}

.box-btn-parch{
  width: 100%;
  background-color: #ff0984;
  border-radius: 5px;
  text-align: center;
  color: white;
  padding: 5px;
}




/*  END ALMOST-HAPPENING SECTION*/

/* START ABOUT US SECTION */

#about-us{
  width: 100%;
  height: auto;
  margin-left:  10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.box-separator-section-about-us{
  width: 100%;
  height: 80px;
  background-color: var(--main-pink-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10px;
  margin-left: -10px !important;
  margin-bottom: 10px;
}

.box-separator-section-about-us h4{
font-size: 15px;
font-weight: 300;
color: white;
text-align: center;
}

.box-separator-section-about-us h4>b{
color: rgb(0, 255, 234);
}

.box-separator-section-about-us h4>a{
  color: rgb(0, 255, 98);
  font-style: italic;
  text-decoration: underline;
  font-weight: 400;
  }

.box-tittle-about-us{
  width: 100%;

}

.box-tittle-about-us >h4{
  font-size: 16px;
  width: 80px;

  border-bottom: var(--main-pink-color) 4px solid;
}

#about-us >h5{
  font-size: 14px;
  width: 90%;
  font-style: italic;
}

#about-us >h6{
  font-size: 13px;
  width: 92%;
  padding-right: 10px;
  text-align: right;
  border: 1px solid;
  background-color: #ff0984;
  color:white;
  font-weight: 500;
  padding: 4px;
}

#about-us >p{
  font-size: 12px;
  width: 90%;
  text-align: left;
}

#about-us > h5:first-of-type{
  text-align: center;
  color: var(--main-pink-color);
  font-size: 16px;
  font-style: italic;
  font-weight: 600;

}

#about-us > h5:first-of-type span{
  color: black;
  font-weight: 400;
  font-size: 14px;
}





/* END ABOUT US SECTION */


/*BOT MENU - FIXED */

#menu-bot{
  width: 100%;
  height: 80px;
  background-color: var(--main-pink-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  bottom: 0;
  position: sticky;
  border-top:black 2px solid;

}

.boxes-menu-bot{
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.boxes-menu-bot i{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
}

.boxes-menu-bot span{
  font-size: 10px;
  font-weight: 300;
  color: white;
}